<h1>How Vimport Works</h1>
<div class="row">
    <p>
    Registered users browse through wholesale factory adds via 1688.com and alibaba.com. Once they have 
    selected their desired product and quantity, they post a proposal to crowd source other buyers to fill the container.
    </p>
    <%= image_tag("about1.jpg") %>
</div>
<div class="row">
    <%= image_tag("about2.png") %>
    <p>
    Once enough buyers have placed orders to fulfill the full-container load requirements of the factory, 
    the order is placed by Vimport and funds are transferred directly to the manufacturer.
    </p>
</div>

<div class="row">
    <p>
    Orders are then shipped and buyers are informed of vessel and tracking information.
    All taxes and tarrifs have been addressed by Vimport.
    </p>
    <%= image_tag("about3.jpg") %>
</div>

<div class="row">
    <%= image_tag("about4.jpg") %>
    <p>
    Apon arrival at the destination port, orders are dispatched individually to our customers via our courier.
    </p>
</div>